/* Add this to your styles.css to style the header with a light grey background */
.header {
  background-color: #f5f5f5; /* Light grey color */
  padding: 10px; /* Add padding for spacing */
  text-align: center; /* Center align the content */
}

/* Additional styling for the h1 element within the header */
.header h1 {
  margin: 0; /* Remove default margin to avoid spacing */
}


/* Add this to your styles.css to create a row layout for the bar charts */
.bottom-charts {
  display: flex;
  justify-content: space-between;
}
.chart {
  width: 30%; /* Adjust the width as needed to fit your design */
}
